/* From Uiverse.io by alexruix */ 
.card1 {
 width: 100%;
 height: 600px;
 padding: .8em;
 background: #f5f5f5;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card2 {
 width: 100%;
 height: 600px;
 padding: .8em;
 background: #f5f5f5;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card3 {
 width: 100%;
 height: 600px;
 padding: .8em;
 background: #f5f5f5;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card4 {
 width: 100%;
 height: 600px;
 padding: .8em;
 background: #f5f5f5;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card5 {
 width: 100%;
 height: 500px;
 padding: .8em;
 background: #f5f5f5;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card6 {
 width: 100%;
 height: 500px;
 padding: .8em;
 background: #f5f5f5;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card7 {
 width: 100%;
 height: 500px;
 padding: .8em;
 background: #f5f5f5;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card8 {
 width: 100%;
 height: 500px;
 padding: .8em;
 background: #f5f5f5;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.card-img5 {
 background-image: url(WhatsApp\ Image\ 2025-06-12\ at\ 14.52.41_82a3d95a.jpg); background-size: cover; background-position: center ; object-fit: contain;
 height: 60%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
}

.card-img6 {
 background-image: url(WhatsApp\ Image\ 2025-06-15\ at\ 12.47.39_86f6b0a2.jpg); background-size: cover; background-position: ; object-fit: contain;
 height: 60%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
}

.card-img7 {
 background-image: url(WhatsApp\ Image\ 2025-06-15\ at\ 12.47.40_af5a4b37.jpg); background-size: cover; background-position: ; object-fit: contain;
 height: 60%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
}

.card-img8 {
 background-image: url(WhatsApp\ Image\ 2025-06-15\ at\ 12.47.42_d491bcff.jpg); background-size: cover; background-position: ; object-fit: contain;
 height: 60%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
}


.card-img1 {
 background-image: url(colonial-style-house-night-scene.jpg); background-size: cover; background-position: center; object-fit: contain;
 height: 50%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
}
.card-img2 {
 background-image: url(modern-styled-entryway.jpg); background-size: cover; background-position: center; object-fit: contain;
 height: 50%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
}
.card-img3 {
 background-image: url(3d-rendering-house-model.jpg); background-size: cover; background-position: center; object-fit: contain;
 height: 50%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
}
.card-img4 {
 background-image: url(3d-house-model-with-modern-architecture.jpg); background-size: cover; background-position: center; object-fit: contain;
 height: 50%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
}

.card-info {
 padding-top: 10%;
}

svg {
 width: 20px;
 height: 20px;
}

.card-footer {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 10px;
 border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
 font-weight: 900;
 font-size: 1.2em;
 line-height: 2.0;
}

.text-body {
 font-size: .9em;
 padding-bottom: 2px;
}

/*Button*/
.card-button {
 border: 1px solid #252525;
 display: flex;
 padding: .3em;
 cursor: pointer;
 border-radius: 50px;
 transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
 transform: translateY(-25%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
 border: 1px solid #ffcaa6;
 background-color: #ffcaa6;
}



